{%extends "layout.html"%}
{%block content%}
<div class="headlines">
  <div class='container'>
    <div class='positionLeft'>
      <h1>LSTM Headlines</h1>
      <p>
        {% for title in news_content1 %}
            <p>  {{title}}  </p>
        {% endfor %}
      </p>
    </div>

    <div class='positionRight'>
      <h1>RNN Headlines</h1>
      <p>
        {% for title in news_content2 %}
            <p>  {{title}}  </p>
        {% endfor %}
      </p>
    </div>
  </div>
  <p><a href=/generate_news ><button class=grey style="height:60px;width:100px">Go Again</button></a></p> 
</div>

{%endblock%}

